{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <article class="">
    {% for book in books %}
      <section>
        <img src="{{book.cover_url}}" alt="{{book.title}}" />
        <p>
          {{book.title}}
        </p>
        <p>
          {{book.authors}}
        </p>
        <p>
          {{book.genre}}
        </p>
        <p>
          {{book.description}}
        </p>
        <p>
          <a href="/books/{{book.id}}/edit">Edit</a>
          <a href="/books/{{book.id}}/delete">Remove</a>
        </p>
      </section>
    {% endfor %}
  </article>



{% endblock %}
