body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
nav span {
  text-align: center;
}
.sideBar {
  width: 10%;
  left: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}
